# Python
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment
.env
venv/
.venv/

# Secrets
scripts/client_secrets.json
scripts/settings.yaml
scripts/credentials.json
scripts/dvc/client_secrets.json
scripts/dvc/settings.yaml
scripts/dvc/credentials.json



# DVC
.dvc/
.dvc/config
.dvc/config.local


# Ignore all datasets content except .dvc files and .gitkeep

datasets/*
!datasets/*/
!datasets/**/.gitkeep
datasets/**/*.csv
datasets/**/*.json
datasets/**/*.yaml
datasets/**/*.yml
!datasets/**/*.dvc



# MLflow
mlruns/

# Reports
reports/

# Notebooks
notebooks/

# Notebook checkpoints
.ipynb_checkpoints/

# Project files
history.md
task_progress.md
