# Python
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment
.env
venv/
.venv/

# Secrets
scripts/client_secrets.json
scripts/settings.yaml
scripts/credentials.json


# Ignore all datasets content except .gitkeep

datasets/*
!datasets/*/
!datasets/**/.gitkeep
datasets/**/*.csv
datasets/**/*.json
datasets/**/*.yaml
datasets/**/*.yml
change_log.md


# MLflow
mlruns/

# Reports
reports/

# Notebooks
notebooks/

# Notebook checkpoints
.ipynb_checkpoints/

# Project files
history.md
task_progress.md
memo.md
